<head>
    <title>{{ page_title is defined and route is defined and route != "home" ? [page_title, ' | ']|join }}AOE Web</title>

    <base href="/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="icon" href="{{ avoirCheminImage('favicon.ico') }}" type="image/webp"/>
    <!-- <link rel="manifest" href="/manifest.webmanifest" crossorigin="anonymous"> -->
    <meta name="theme-color" content="#0e0e0e"/>
    <link rel="apple-touch-icon" sizes="48x48" href="{{ avoirCheminImage('favicon.ico') }}"/>
    
    {% if route == "forbidden" %}
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/public/css/forbidden.css"/>
    {% endif %}
    {# {% else %} #}
        {# CSS #}
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/const.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/modale.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/index.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/link.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/header.css"/>
            {# page css #}
            {% if route == "orders" %}
                <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/orders.css"/>
            {% elseif route == "404" %}
                <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/404.css"/>
            {% endif %}
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/footer.css"/>
        {# DRAGULA #}
        {% if necessiteDragula(route) %}
            {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/libs/dragula/css/{{- dragula_v -}}dragula.css"/> #}
        {% endif %}
        {# TIPPY #}
        {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/css/tippy.css"/> #}
        {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/libs/tippy/css/{{- tippy_v -}}light-border.css" type="text/css"> #}
        {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/libs/tippy/css/{{- tippy_v -}}light.css" type="text/css"> #}
        {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/libs/tippy/css/{{- tippy_v -}}material.css" type="text/css"> #}
        {# <link rel="stylesheet" type="text/css" href="{{- particule_url -}}/private/libs/tippy/css/{{- tippy_v -}}translucent.css" type="text/css"> #}
    {# {% endif %} #}
</head>
