<div class="order-item">
    <div class="order-presentation user-select-none">
        <div class="order-presentation-reference">{{ order.Reference }} - </div>
        <div class="order-presentation-paye {{ order.Paid == true ? "paid" : "not-paid" }}">{{ order.Paid == true ? 'Payé' : 'Non payé' }}</div>
        <div class="order-presentation-statut"> - {{ order.Status }}</div>
        <div class="order-presentation-total"> - {{ order.Total }}</div>
    </div>
    <div class="order-details">
        {% if order.Article is defined and order.Article is not empty and order.Article|length > 0 %}
            <div class="order-articles">
                <div class="order-details-big-title">Articles</div>
                {% for article in order.Article %}
                <div class="order-article">
                    <div class="order-detail order-article-reference">
                        <span class="order-details-title">Reference</span> - {{ article.Reference }}
                    </div>
                    <div class="order-detail order-article-nom">
                        <span class="order-details-title">Nom</span> - {{ article.Lastname }}
                    </div>
                    <div class="order-detail order-article-quantite">
                        <span class="order-details-title">Quantite</span> - {{ article.Quantity }}
                    </div>
                    <div class="order-detail order-article-total">
                        <span class="order-details-title">Total</span> - {{ article.Price * article.Quantity }} €
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="order-detail order-detail-demi order-reference">
            <span class="order-details-title">Référence - </span>{{ order.Reference }}
        </div>
        <div class="order-detail order-detail-demi order-statut">
            <span class="order-details-title">Statut - </span>{{ order.Status }}
        </div>
        <div class="order-detail order-detail-demi order-date">
            <span class="order-details-title">Date - </span>{{ order.Date }}
        </div>
        <div class="order-detail order-detail-demi order-paye {{ order.Paid == true ? "paid" : "not-paid" }}">
            <span class="order-details-title">Payé - </span>{{ order.Paid == true ? 'Payé' : 'Non payé' }}
        </div>
        {% if order.Billing is defined and order.Billing is not empty %}
            <div class="order-facturation">
                <div class="order-details-big-title">Facturation</div>
                <div class="order-detail order-detail-demi order-facturation-nom">
                    <span class="order-details-title">Nom - </span>{{ order.Billing.Lastname }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-prenom">
                    <span class="order-details-title">Prenom - </span>{{ order.Billing.Firstname }}
                </div>
                <div class="order-detail order-facturation-societe">
                    <span class="order-details-title">Société - </span>{{ order.Billing.Society ? order.Billing.Society : "##########" }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-adresse">
                    <span class="order-details-title">Adresse - </span>{{ order.Billing.Address }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-code">
                    <span class="order-details-title">Code Postal - </span>{{ order.Billing.ZIP }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-ville">
                    <span class="order-details-title">Ville - </span>{{ order.Billing.City }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-pays">
                    <span class="order-details-title">Pays - </span>{{ order.Billing.Country }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-telephone">
                    <span class="order-details-title">Téléphone - </span>{{ order.Billing.Phone }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-mail">
                    <span class="order-details-title">Mail - </span>{{ order.Billing.Mail }}
                </div>
            </div>
        {% endif %}
        {% if order.Shipping is defined and order.Shipping is not empty %}
            <div class="order-livraison">
                <div class="order-details-big-title">Livraison</div>
                <div class="order-detail order-detail-demi order-livraison-nom">
                    <span class="order-details-title">Nom - </span>{{ order.Shipping.Lastname }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-prenom">
                    <span class="order-details-title">Prenom - </span>{{ order.Shipping.Firstname }}
                </div>
                <div class="order-livraison-societe">
                    <span class="order-details-title">Société - </span>{{ order.Shipping.Society ? order.Shipping.Society : "##########" }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-adresse">
                    <span class="order-details-title">Adresse - </span>{{ order.Shipping.Address }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-code">
                    <span class="order-details-title">Code Postal - </span>{{ order.Shipping.ZIP }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-ville">
                    <span class="order-details-title">Ville - </span>{{ order.Shipping.City }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-pays">
                    <span class="order-details-title">Pays - </span>{{ order.Shipping.Country }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-telephone">
                    <span class="order-details-title">Téléphone - </span>{{ order.Shipping.Phone }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-mail">
                    <span class="order-details-title">Mail - </span>{{ order.Shipping.Mail ? order.Shipping.Mail : "##########" }}
                </div>
            </div>
        {% endif %}
        <div class="order-details-big-title">Détails</div>
        <div class="order-detail order-detail-demi order-nom">
            <span class="order-details-title">Nom - </span>{{ order.Lastname }}
        </div>
        <div class="order-detail order-detail-demi order-prenom">
            <span class="order-details-title">Prénom - </span>{{ order.Firstname }}
        </div>
        <div class="order-detail order-detail-demi order-societe">
            <span class="order-details-title">Société - </span>{{ order.Society ? order.Society : "##########" }}
        </div>
        <div class="order-detail order-detail-demi order-fraislivraison">
            <span class="order-details-title">Frais de livraison - </span>{{ order.DeliveryTax > 0 ? [order.DeliveryTax, " €"]|join : "Pas de frais" }}
        </div>
        <div class="order-detail order-detail-demi order-total">
            <span class="order-details-title">Total - </span>{{ order.Total }}
        </div>
        <div class="order-detail order-detail-demi order-paiement">
            <span class="order-details-title">Paiement - </span>{{ order.Paiement }}
        </div>
        <div class="order-detail order-detail-demi order-pays">
            <span class="order-details-title">Pays - </span>{{ order.Country }}
        </div>
        <div class="order-detail order-detail-demi order-tva_intra">
            <span class="order-details-title">TVA Intracommunautaire - </span>{{ order.TVA_Intra ? order.TVA_Intra : "Aucune" }}
        </div>
    </div>
</div>