<div class="order-item">
    <div class="order-presentation user-select-none">
        <div class="order-presentation-reference">{{ order.Reference }} - </div>
        <div class="order-presentation-paye {{ order.Paye == true ? "paid" : "not-paid" }}">{{ order.Paye == true ? 'Payé' : 'Non payé' }}</div>
        <div class="order-presentation-statut"> - {{ order.Statut }}</div>
        <div class="order-presentation-total"> - {{ order.Total }}</div>
    </div>
    <div class="order-details">
        {% if order.Article is defined and order.Article is not empty and order.Article|length > 0 %}
            <div class="order-articles">
                <div class="order-details-big-title">Articles</div>
                {% for article in order.Article %}
                <div class="order-article">
                    <div class="order-detail order-article-reference">
                        <span class="order-details-title">Reference</span> - {{ article.Reference }}
                    </div>
                    <div class="order-detail order-article-nom">
                        <span class="order-details-title">Nom</span> - {{ article.Nom }}
                    </div>
                    <div class="order-detail order-article-quantite">
                        <span class="order-details-title">Quantite</span> - {{ article.Quantite }}
                    </div>
                    <div class="order-detail order-article-total">
                        <span class="order-details-title">Total</span> - {{ article.Prix * article.Quantite }} €
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="order-detail order-detail-demi order-reference">
            <span class="order-details-title">Référence - </span>{{ order.Reference }}
        </div>
        <div class="order-detail order-detail-demi order-statut">
            <span class="order-details-title">Statut - </span>{{ order.Statut }}
        </div>
        <div class="order-detail order-detail-demi order-date">
            <span class="order-details-title">Date - </span>{{ order.Date }}
        </div>
        <div class="order-detail order-detail-demi order-paye {{ order.Paye == true ? "paid" : "not-paid" }}">
            <span class="order-details-title">Payé - </span>{{ order.Paye == true ? 'Payé' : 'Non payé' }}
        </div>
        {% if order.Facturation is defined and order.Facturation is not empty %}
            <div class="order-facturation">
                <div class="order-details-big-title">Facturation</div>
                <div class="order-detail order-detail-demi order-facturation-nom">
                    <span class="order-details-title">Nom - </span>{{ order.Facturation.Nom }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-prenom">
                    <span class="order-details-title">Prenom - </span>{{ order.Facturation.Prenom }}
                </div>
                <div class="order-detail order-facturation-societe">
                    <span class="order-details-title">Société - </span>{{ order.Facturation.Societe ? order.Facturation.Societe : "##########" }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-adresse">
                    <span class="order-details-title">Adresse - </span>{{ order.Facturation.Adresse }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-code">
                    <span class="order-details-title">Code Postal - </span>{{ order.Facturation.CodePostal }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-ville">
                    <span class="order-details-title">Ville - </span>{{ order.Facturation.Ville }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-pays">
                    <span class="order-details-title">Pays - </span>{{ order.Facturation.Pays }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-telephone">
                    <span class="order-details-title">Téléphone - </span>{{ order.Facturation.Telephone }}
                </div>
                <div class="order-detail order-detail-demi order-facturation-mail">
                    <span class="order-details-title">Mail - </span>{{ order.Facturation.Mail }}
                </div>
            </div>
        {% endif %}
        {% if order.Livraison is defined and order.Livraison is not empty %}
            <div class="order-livraison">
                <div class="order-details-big-title">Livraison</div>
                <div class="order-detail order-detail-demi order-livraison-nom">
                    <span class="order-details-title">Nom - </span>{{ order.Livraison.Nom }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-prenom">
                    <span class="order-details-title">Prenom - </span>{{ order.Livraison.Prenom }}
                </div>
                <div class="order-livraison-societe">
                    <span class="order-details-title">Société - </span>{{ order.Livraison.Societe ? order.Livraison.Societe : "##########" }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-adresse">
                    <span class="order-details-title">Adresse - </span>{{ order.Livraison.Adresse }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-code">
                    <span class="order-details-title">Code Postal - </span>{{ order.Livraison.CodePostal }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-ville">
                    <span class="order-details-title">Ville - </span>{{ order.Livraison.Ville }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-pays">
                    <span class="order-details-title">Pays - </span>{{ order.Livraison.Pays }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-telephone">
                    <span class="order-details-title">Téléphone - </span>{{ order.Livraison.Telephone }}
                </div>
                <div class="order-detail order-detail-demi order-livraison-mail">
                    <span class="order-details-title">Mail - </span>{{ order.Livraison.Mail ? order.Livraison.Mail : "##########" }}
                </div>
            </div>
        {% endif %}
        <div class="order-details-big-title">Détails</div>
        <div class="order-detail order-detail-demi order-nom">
            <span class="order-details-title">Nom - </span>{{ order.Nom }}
        </div>
        <div class="order-detail order-detail-demi order-prenom">
            <span class="order-details-title">Prénom - </span>{{ order.Prenom }}
        </div>
        <div class="order-detail order-detail-demi order-societe">
            <span class="order-details-title">Société - </span>{{ order.Societe ? order.Societe : "##########" }}
        </div>
        <div class="order-detail order-detail-demi order-fraislivraison">
            <span class="order-details-title">Frais de livraison - </span>{{ order.FraisLivraison > 0 ? [orderFraisLivraison, " €"]|join : "Pas de frais" }}
        </div>
        <div class="order-detail order-detail-demi order-total">
            <span class="order-details-title">Total - </span>{{ order.Total }}
        </div>
        <div class="order-detail order-detail-demi order-paiement">
            <span class="order-details-title">Paiement - </span>{{ order.Paiement }}
        </div>
        <div class="order-detail order-detail-demi order-pays">
            <span class="order-details-title">Pays - </span>{{ order.Pays }}
        </div>
        <div class="order-detail order-detail-demi order-tva_intra">
            <span class="order-details-title">TVA Intracommunautaire - </span>{{ order.TVA_Intra ? order.TVA_Intra : "Aucune" }}
        </div>
    </div>
</div>